:root {
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --primary-color: #3bb77e;
    --primary-box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.05);
}
* {
    box-sizing: inherit;
}
html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
}
.grid {
    width: 1495.2px;
    /* width: 1440px; */
    max-width: 100%;
    margin: 0 auto;
}
.grid__full-width {
    width: 100%;
}
.grid__row {
    display: flex;
    flex-wrap: wrap;
}
.grid__column-2-4 {
    padding-left: 5px;
    padding-right: 5px;
    width: 20%;    
}
/* Modal */

/* animation */
@keyframes fadeIn1 {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes fadeIn2 {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
.flex {
    display: flex !important;
}
.hidden {
    display: none !important;
}
.valid-elm {
    height: 38px !important;
    font-size: 1.6rem !important;
}
.fs-16 {
    font-size: 16px !important;
}
.fs-14 {
    font-size: 14px !important;
}
.mb-16 {
    margin-bottom: 16px !important;
}
.ml-16 {
    margin-left: 16px !important;
}
.mr-16 {
    margin-right: 16px !important;
}

.lh-30 {
    line-height: 30px !important;
}
.white {
    color: #fff !important;
}
.black {
    color: #000 !important;
}
.dark-blue {
    color: #148a9d !important;
}
.dark-green {
    color: #228e3b !important;
}
.dark-yellow {
    color: #d9a406 !important
}
.dark-red {
    color: #bb2d3b !important
}
.bg-blue {
    background-color: #17a2b8 !important;
}
.bg-green {
    background-color: #28a745 !important;
}
.bg-yellow {
    background-color: #ffc107 !important;
}
.bg-red {
    background-color: #dc3545 !important;
}
.bg-dark-blue {
    background-color: #148a9d !important;
}
.bg-dark-green {
    background-color: #228e3b !important;
}
.bg-dark-yellow {
    background-color: #d9a406 !important;
}
.bg-dark-red {
    background-color: #bb2d3b !important;
}
/* button */
.button {
    border: 2px solid #3BB77E;
    border-radius: 4px;
    display: flex;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    color: var(--white-color);
}
.button:hover {
    color: var(--white-color);
    background-color: #FDC040;
}
.btn-prev {
    margin-left: 4px;
}
.btn-next {
    margin-right: 4px;
}
/* image & text area & pagination */
.height-width-200 {
    height: 200px;
    width: 200px;
}
.height-105 {
    height: 105px !important;
}
.height-205 {
    height: 205px !important;
}
.custom-page-link {
    font-size: 1.6rem;
    height: 3.4rem;
    width: 3.4rem;
    display: flex;
    justify-content: center;
    border: 1px solid #e5e7eb;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.custom-page-item {
    margin-right: 12px;
}
.custom-pagination {
    justify-content: center;
}
/* tabs */
.tabs {
    list-style: none;
    display: flex;
}
.tabs-item {
    margin-right: 32px;
    padding: 12px 0;
    position: relative;
}
.tabs-item:hover {
    cursor: pointer;
    border-bottom: 4px solid #00754a;
}
.tabs-item-avtive {
    border-bottom: 4px solid #00754a;
}
.tabs-item-text {
    font-size: 1.3rem;
    font-weight: 500;
    color: rgb(0, 0, 0, 0.7);
}
/* swiper */
.swiper-list {
    padding: 0;
    display: flex;
    transition: transform 0.5s ease;
}
.swiper-item {
    margin-left: 2px;
    margin-right: 6px;
    border-radius: 12px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.16);
}
.swiper-btn-2 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    z-index: 997;
}
.swiper-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: 0px 3px 12px 0px rgb(0, 0, 0, 30%);
    background-color: var(--white-color);
}
.swiper-btn:hover {
    cursor: pointer;
}
.swiper-btn-icon {
    font-size: 1.2rem;
}
.swiper-btn-prev {
    position: absolute;
    left: 0;
}
.swiper-btn-next {
    position: absolute;
    right: 0;
}